/* raleway-300 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"),
  url("./fonts/raleway-v13-latin-300.woff2") format("woff2"),
  url("./fonts/raleway-v13-latin-300.woff") format("woff");
  font-display: swap;
}

/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"),
  url("./fonts/raleway-v13-latin-regular.woff2") format("woff2"),
  url("./fonts/raleway-v13-latin-regular.woff") format("woff");
  font-display: swap;
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
  url("./fonts/montserrat-v13-latin-regular.woff2") format("woff2"),
  url("./fonts/montserrat-v13-latin-regular.woff") format("woff");
  font-display: swap;
}

/**
 * Sets Up Default Font
 */

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #010b19;
  /* stylelint-disable-next-line unit-whitelist */
  font-size: 16px;
}

/**
  * Sets Up Links
  */

a {
  color: #ee0028;
  text-decoration: underline;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

a:focus {
  box-shadow: inset 0 0 0 0.0625rem #ee0028;
}

/**
  * Sets Up Headers
  */

h1,
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.15;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 400;
  letter-spacing: 0.0781rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.0938rem;
}

/**
  * Sets Up Paragraphs
  */

p {
  margin-bottom: 2rem;
}

/**
  * Sets Up Block Quotes
  */

blockquote {
  background: #e1e4ea;
  border-left: thin solid #ee0028;
  margin: 1.5rem 1rem;
  padding: 0.5rem 1rem;
  font-family: "Raleway", sans-serif;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  display: inline;
}

/**
  * Sets Up Image Default
  */

img {
  margin: 0;
  padding: 0;
  width: 100%;
}
